<div>
    <div><%= render 'header' %>
    </div>


<div class="barbecue-title mt-3">
  <div class="row">
    <div class="col-12">
      <h3>Highlights</h3>



            <div class="container">

            <!-- <div style="width: 100%; height: 600px;"
                data-controller="mapbox"
                data-mapbox-markers-value="<%= @markers.to_json %>"
                data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div> -->
                
                <div class="row">
                    <% @barbecues.each do |barbecue| %>
                    <div class="col-md-12">
                        <div class="flat-card">
                        <div class="flat-card-image" style="background-image: url('<%= barbecue.picture %>')"></div>
                        <div class="flat-card-content">
                            <div class="flat-card-title">
                            <h6><%= barbecue.barbecue_model %></h6>
                            </div>
                            <p><%= barbecue.barbecue_description %></p>
                        
                        </div>
                        <div class="flat-card-actions">
                        <div class="btn-group btn-sm" role="group" aria-label="Button group">
                            <%= link_to 'More info', barbecue_path(barbecue), class: "btn btn-outline-dark btn-sm" %>
                        </div>
                        </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>

    </div>
  </div>


</div>
