<div>
    <div><%= render 'header' %>
    </div>


<div class="barbecue-title mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our barbecues bla bla bla</h1>

            <div class="container">
                
                <div class="row">
                    <% @barbecues.each do |barbecue| %>
                    <div class="col-md-4">
                        <div class="flat-card">
                        <div class="flat-card-image" style="background-image: url('<%= barbecue.picture %>')"></div>
                        <div class="flat-card-content">
                            <div class="flat-card-title">
                            <h4><%= barbecue.barbecue_model %></h4>
                            </div>
                            <p><%= barbecue.barbecue_description %></p>
                        
                        </div>
                        <div class="flat-card-actions">
                            <%= link_to 'More info', barbecue_path(barbecue), class: "btn btn-outline-primary" %>
                            <%= link_to 'Edit', barbecue_path(barbecue), class: "btn btn-outline-secondary" %>
                            <%= link_to "Remove", barbecue_path(barbecue),
                                method: :delete, 
                                data: { confirm: "Are you sure?" },
                                class:  "btn btn-outline-danger"
                            %>
                        </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>

    </div>
  </div>


</div>
