<div class="row justify-content-center">
    <div class="col-4">
      <h4>Add a Barbecue!</h4>
      <%= simple_form_for [@barbecue] do |f| %>
        <%= f.input :barbecue_model, placeholder: "What's the model?" %>
        <%= f.input :barbecue_type, placeholder: "What's the type?" %>
        <%= f.input :barbecue_price, placeholder: "What's the price?" %>
        <%= f.input :barbecue_description, placeholder: "What's the description?" %>
        <%= f.input :barbecue_location, placeholder: "What's the location?" %>
        <%= f.input :picture, placeholder: "www.google.com/image" %>
        <%= f.submit 'Add Barbecue', class: 'btn btn-success btn-block w-100' %>
      <% end %>
    </div>
  </div>
