<div class="row justify-content-center">
    <div class="col-4">
      <h4 class="row justify-content-center">Add a new BarbeGrill for renting!</h4>
      <%= simple_form_for [@barbecue] do |f| %>
        <%= f.input :barbecue_model, label: "Grill's model", placeholder: "Type in the grill's model" %>
        <%= f.input :barbecue_type, label: "Grill's type", placeholder: "Electric, Gas, Charcoal, etc.." %>
        <%= f.input :barbecue_price, as: :string , label: "Grill's renting price", placeholder: "What is the daily rate?" %>
        <%= f.input :barbecue_description, label: "Grill's description", placeholder: "Type a short and objective description" %>
        <%= f.input :barbecue_location, label: "Grill's location", placeholder: "Type in the adress?" %>
        <%= f.input :picture, label: "Grill's beautiful pic", placeholder: "www.google.com/image" %>
        <%= f.submit 'Add a BarbeGrill!', class: 'btn btn-outline-danger btn-block w-100' %>
      <% end %>
    </div>
  </div>
