
<div class="map" style="background-image: url('<%= @barbecue.picture %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h3><%= @barbecue.barbecue_model %></h3>
        <p class="flat-show-address"><%= @barbecue.barbecue_description %></p>
      </div>
      <div class="flat-show-card">
        <h3>Here is a map with location...</h3>
        <p> MAP </p>
        <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @barbecue.barbecue_description %>&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C<%= @barbecue.barbecue_description %>&key=AIzaSyBtaHK-BLhBg7TruJu8iKk_wETqZMJM-GY')"></div>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h5>Book this barbecue!</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="day/month/year" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="day/month/year" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
      <div class="flat-show-card">
        <h3>Details Price</h3>
        <div class="flex">
        
          <div class="flex ms-3">
            <i class="material-icons me-2">€</i> <%= @barbecue.barbecue_price %>
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share with your friends</h6>

          <div class="flex">
            <i class="fa fa-facebook-square fa-2x me-2"></i>
            <i class="fa fa-twitter-square fa-2x me-2"></i>
            <i class="fa fa-pinterest-square fa-2x me-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>